/* all fonts  */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body
{
    font-family: 'Lato', sans-serif;
}

/* common properties */
*
{
    margin: 0;
}

img
{
    width: 100%;
}

.container1
{
    margin: 100px 160px 0 160px;
}


.common-heading
{
    font-size: 30px; 
    font-weight:800; 
    margin-bottom:10px;
    opacity: 90%;
}
.common-para
{
    font-size: 14px;
    font-weight: 400;
    color: #272727;
    opacity: 60%;
    margin-bottom: 20px;
}







/* header  */

.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px 0 150px;
    background-color: #fff6ea;
    
}

.header-text-block
{
    margin-right: 10%;
}

.header-text
{
    font-size: 55px;
    font-weight: 800;
    color: #272727;
    margin-bottom: 20px;
}

.header-para
{
    font-size: 18px;
    font-weight: 400;
    color: #272727;
    opacity: 60%;
    margin-bottom: 20px;

}

.header-btn
{
    background-color: #E55473;
    color: white;
    padding: 12px 30px 12px 30px;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid transparent;
}

/* featured section  */

.featured-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.featured
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.featured-bg
{
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featured-bg1
{
    background-color: #f6c7dd;
    padding: 60px 10px 0 10px;

}
.featured-bg2
{
    background-color: #c6dcdd;
    padding: 60px 1px 60px 1px;
    margin: 0 5% 0 5%;

}
.featured-bg3
{
    background-color: rgb(227, 213, 220);
    padding: 25px 10px 0 10px;

}

.featured-img
{
    width: 70%;
}

.parent-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* group section  */

.group
{
    background-color: #d7d7d7;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 50px 0 50px 0;
    border-radius: 10px;
}

.pa
{
    width: 30%;
}

.ka
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* hotdeal  */

.hotdeal
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7% 20%;
    gap: 5%;
    text-align: center;
    background-color: #fdf2e7;
    margin-top: 100px;
}

.hotdeal-text
{
    width: 80%;
}

/* instagram section  */

.insta-flex
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2%;
    margin-top: 50px;
}

.pa2
{
    width: 22%;
}

/* subscribe section  */

.subscribe
{
    background-image: url("../img/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px 180px 0 180px;

}

/***********************************
meaningful section***********************************/

.bg
{
    background-color: #ffeff3;
    border-radius: 35px;
    padding-top: 50px;
}
.container1 h1
{
    text-align: center;
    font-weight: 800;
    font-size: 30px;
}




.container3-sec1-div1 section
{
   display: inline-block;
   margin-top: 5px;
  margin-left: 15%;
   
    
    
}

.container3-sec1-div1 article
{
    display: inline-block;
    margin-left: 10%;
    position: relative;
    bottom: 1.7em;
    font-size: 1.5em;
}

.container3-sec1-div1 ul
{
    list-style: url(../assets/images/icons/check-16px.png) ;
}



/* footer  */
.flex
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 35% 100px 35%;
    color: white;
    text-align: center;
    margin-top: 100px;

}



